<!-- Modal gallery -->

<div class="container">
  <h1 class="summary-header">CERTIFICATIONS</h1>
  <p>
    I have multiple certifications from the prestigious Management and Strategy
    Institute which prepared me to handle critical software development projects
    constrained by time, scope, and budget.
  </p>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <h6>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspExecutive Management
      </h6>
      <img
        src="./assets/images/execmanagement.png"
        class="card card-size"
        alt="Executive Management Certified"
      />
      <form action="/" method="post">
        <input type="hidden" class="form-control" id="execmng" name="choice" />
        <button name="submit" class="btn px-2 center" type="submit">
          Read More...
        </button>
      </form>
    </div>
    <div class="col-md-4">
      <h6>&nbspProject Management - Lean - Agile</h6>
      <img
        src="./assets/images/projmanagement.png"
        class="card card-size"
        alt="Project Management Certified"
      />
      <form action="/" method="post">
        <input type="hidden" class="form-control" id="projmng" name="choice" />
        <button name="submit" class="btn px-2" type="submit">
          Read More...
        </button>
      </form>
    </div>
    <div class="col-md-4">
      <h6>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSix
        Sigma
      </h6>
      <img
        src="./assets/images/sixsigma.png"
        class="card card-size"
        alt="Six Sigma - Greenbelt Certified"
      />
      <form action="/" method="post">
        <input type="hidden" class="form-control" id="sixsigma" name="choice" />
        <button name="submit" class="btn px-2" type="submit">
          Read More...
        </button>
      </form>
    </div>
  </div>
</div>
