<!-- Modal gallery -->

<div class="container">
  <h2 class="display-3"><span2>CERTIFICATIONS</span2></h2>
  <p>
    <span>
      I have multiple certifications from the prestigious Management and
      Strategy Institute which prepared me to handle critical software
      development projects constrained by time, scope, and budget.
    </span>
  </p>
  <hr />
  <div class="row">


    
    <div class="col-md-4 ">
     
      <prj class="card card-size mx-auto d-block">
        <a class="btn btn-blank btn-sm summary" href="#Certificates" role=""
          ><span>Project Management - Lean - Agile</span>
        </a>
       </prj>

      <prj class="card card-size mx-auto d-block">
        <span>
          sfsdfdsssffsdsdsfsfdsfdsfdsfdsfdsfdsd fdsfsfdsf fdsfdsfsd
          ssfsdfsdfdsfds
          <br />
          <br />
        </span>
      </prj>
      <br />
      <img
      src="./assets/images/projmanagement.png"
      class="card card-size img-size mx-auto d-block"
      alt="Project Management Certified"
    />
    <prj class="card card-size mx-auto d-block ">  
      <form action="/" method="post" >
        <input type="hidden" class="form-control" id="projmng" name="choice" />
        <button name="choice" class="btn px-4 btn-light btn-sm  center" type="submit" >
          &#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160View Certificate&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160
         
        </button>
      </form>
      
    </prj>

      
    <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>
    <br/>
    </div>

    <div class="col-md-4 ">
     
      <prj class="card card-size mx-auto d-block">
        <a class="btn btn-blank btn-sm summary" href="#Certificates" role=""
          ><span>&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160Six Sigma</span>
        </a>
       </prj>

       <prj class="card card-size mx-auto d-block">
        <span>
          sfsdfdsssffsdsdsfsfdsfdsfdsfdsfdsfdsd fdsfsfdsf fdsfdsfsd
          ssfsdfsdfdsfds
  
        </span>
      </prj>
       
      <br />
      <img
        src="./assets/images/sixsigma.png"
        class="card card-size img-size mx-auto d-block"
        alt="Project Management Certified"
      />
      <prj class="card card-size mx-auto d-block ">  
        <form action="/" method="post">
          <input type="hidden" class="form-control" id="sixsigma" name="choice" />
           <button name="choice" class="btn px-4 btn-light btn-sm  center" type="submit" >
            &#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160View Certificate&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160
           
          </button>
        </form>
      </prj>
      <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>
    
    </div>
    <div class="col-md-4 ">
      

      <prj class="card card-size mx-auto d-block">
        <a class="btn btn-blank btn-sm summary" href="#Certificates" role=""
          ><span>&#160&#160&#160&#160&#160&#160&#160&#160Executive Management</span>
        </a>
      </prj>
      
      <prj class="card card-size mx-auto d-block">
        <span>
          sfsdfdsssffsdsdsfsfdsfdsfdsfdsfdsfdsd fdsfsfdsf fdsfdsfsd
          ssfsdfsdfdsfds
          <br />
          <br />
        </span>
      </prj>
      <br />
      <img
        src="./assets/images/execmanagement.png"
        class="card card-size img-size mx-auto d-block"
        alt="Project Management Certified"
      />
      <prj class="card card-size mx-auto d-block ">  
        <form action="/" method="post" >
          <input type="hidden" class="form-control" id="execmng" name="choice" />
          <button name="choice" class="btn px-4 btn-light btn-sm  center" type="submit" >
            &#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160View Certificate&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160
           
          </button>
        </form>
        
      </prj>

    <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>

    <br/>
    </div>

    </div>



  </div>
</div>


