<!-- Modal gallery -->

<div class="container">
  <h2 class="display-3"><span2>CERTIFICATIONS</span2></h2>
  <p>
    <span>
      I have multiple certifications from the prestigious Management and
      Strategy Institute which prepared me to handle critical software
      development projects constrained by time, scope, and budget.
    </span>
  </p>
  <hr />
  <div class="row">
    <div class="col-md-4 cardbox">
      <!-- <h6 class="summary">Executive Management</h6> -->
      <p class="center">
        <a class="btn btn-blank btn-sm summary" href="" role=""
          ><span>Executive Management</span>
        </a>
      </p>
      <prj class="card card-size mx-auto d-block">
        <span>
          sfsdfdsssffsdsdsfsfdsfdsfdsfdsfdsfdsd fdsfsfdsf fdsfdsfsd
          ssfsdfsdfdsfds
          <br />
          <br />
        </span>
      </prj>
      <br />
      <img
        src="./assets/images/execmanagement.png"
        class="card card-size img-size mx-auto d-block"
        alt="Executive Management Certified"
      />
      <form action="/" method="post">
        <input type="hidden" class="form-control" id="execmng" name="choice" />
        <button
          name="submit"
          class="btn px-2 center btn-sm colorpurple"
          type="submit"
        >
          Read More...
        </button>
      </form>
    </div>

    <div class="col-md-4 cardbox">
      <!-- <h6 class="summary">Project Management - Lean - Agile</h6> -->
      <p class="center">
        <a class="btn btn-blank btn-sm summary" href="" role=""
          ><span>Project Management - Lean - Agile</span>
        </a>
      </p>
      <prj class="card card-size mx-auto d-block">
        <span>
          sfsdfdsssffsdsdsfsfdsfdsfdsfdsfdsfdsd fdsfsfdsf fdsfdsfsd
          ssfsdfsdfdsfds
          <br />
          <br />
        </span>
      </prj>
      <br />
      <img
        src="./assets/images/projmanagement.png"
        class="card card-size img-size mx-auto d-block"
        alt="Project Management Certified"
      />
      <form action="/" method="post">
        <input type="hidden" class="form-control" id="projmng" name="choice" />
        <button name="submit" class="btn px-2 btn-sm colorpurple" type="submit">
          Read More...
        </button>
      </form>
    </div>
    <div class="col-md-4 cardbox">
      <!-- <h6 class="summary">Six Sigma</h6> -->
      <p class="center">
        <a class="btn btn-blank btn-sm summary" href="" role=""
          ><span>Six Sigma</span>
        </a>
      </p>
      <prj class="card card-size mx-auto d-block">
        <span>
          sfsdfdsssffsdsdsfsfdsfdsfdsfdsfdsfdsd fdsfsfdsf fdsfdsfsd
          ssfsdfsdfdsfds
          <br />
          <br />
        </span>
      </prj>
      <br />
      <img
        src="./assets/images/sixsigma.png"
        class="card card-size img-size mx-auto d-block"
        alt="Six Sigma - Greenbelt Certified"
      />
      <form action="/" method="post">
        <input type="hidden" class="form-control" id="sixsigma" name="choice" />
        <button name="submit" class="btn px-2 btn-sm colorpurple" type="submit">
          Read More...
        </button>
      </form>
    </div>
  </div>
</div>
