<!-- Modal gallery -->

<div class="container">
  <h2 class="display-3"><span2>PATENTS</span2></h2>
  <p>
    <span>
      There are multiple patents granted to me by the United States Patent and
      Trademark Office (USPTO). This listing includes patents for Methods and
      Systems for Enterprise-wide production scheduling, patent number: 7171375,
      Methods and systems for publishing reports to a network, patent number:
      20020015059, and Enterprise Project Management Systems and Methods, patent
      number: 20060053043.
    </span>
  </p>
  <hr />
  <div class="row">

    <div class="col-md-4 ">
      

      <prj class="card card-size mx-auto d-block">
        <a class="btn btn-blank btn-sm summary" href="#Patents" role=""
        ><span>Enterprise Project Management<br />Systems and Methods</span>
      </a>
      </prj>
      <prj class="card card-size mx-auto d-block">
        <span>
          sfsdfdsssffsdsdsfsfdsfdsfdsfdsfdsfdsd fdsfsfdsf fdsfdsfsd
          ssfsdfsdfdsfds
       
        </span>
      </prj>

      <br />
      <img
        src="./assets/images/methods.png"
        class="card card-size img-size mx-auto d-block"
        alt="Executive Management Certified"
      />

      <prj class="card card-size mx-auto d-block ">  
        <form action="/" method="post">
    
        <button name="choice" value="enterprisepm" class="btn px-4 btn-light btn-sm  center" type="submit" >
          &#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160View my patent&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160
         
        </button>
      </form>
        
      </prj>

    <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>

    <br/>
    </div>
    <div class="col-md-4 ">
     
      <prj class="card card-size mx-auto d-block">
        <a class="btn btn-blank btn-sm summary" href="#Patents" role=""
          ><span>Methods and Systems for Publishing Reports to a Network</span>
        </a>
       </prj>

      <prj class="card card-size mx-auto d-block">
        <span>
          sfsdfdsssffsdsdsfsfdsfdsfdsfdsfdsfdsd fdsfsfdsf fdsfdsfsd
          ssfsdfsdfdsfds
          <br />
          <br />
        </span>
      </prj>
      <br />
      <img
        src="./assets/images/methodsforpubrep.png"
        class="card card-size img-size mx-auto d-block"
        alt="Project Management Certified"
      />
    <prj class="card card-size mx-auto d-block ">  
      <form action="/" method="post" >
      
        <button name="choice" value="schedulingpatent" class="btn px-4 btn-light btn-sm  center" type="submit" >
          &#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160View my patent&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160
         
        </button>
      </form>
      
    </prj>

      
    <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>
    <br/>
    </div>

    <div class="col-md-4 ">
     
      <prj class="card card-size mx-auto d-block">
        <a class="btn btn-blank btn-sm summary" href="#Patents" role=""
          ><span>Exterprise-Wide Production Scheduling</span>
        </a>
       </prj>

       <prj class="card card-size mx-auto d-block">
        <span>
          sfsdfdsssffsdsdsfsfdsfdsfdsfdsfdsfdsd fdsfsfdsf fdsfdsfsd
          ssfsdfsdfdsfds
  
        </span>
      </prj>
       
      <br />
      <img
        src="./assets/images/exterprisewideproductionscheduling.png"
        class="card card-size img-size mx-auto d-block"
        alt="Exterprise Production Scheduling"
      />
      <prj class="card card-size mx-auto d-block ">  
        <form action="/" method="post">
         
          <button name="choice" value="enterprisewide" class="btn px-4 btn-light btn-sm  center" type="submit" >
            &#160&#160&#160&#160&#160&#160&#160&#160&#160&#160View my pattent&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160
           
          </button>
        </form>
      </prj>
      <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>
    
    </div>
    

    </div>



  </div>
</div>
