<!-- Modal gallery -->

<div class="container">
  <h2 class="display-3" ><span2>PROJECT GALLERY</span2></h2>
  <p><span>Below find a few of my fullstack web apps, together with their link to the source code in my Github repositories, to showcase my knowledge and experience.</span>

  </p>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <h6 class="summary">Newsletter Signup Web App</h6>
      <img
        src="./assets/images/newslettersignup.png"
        class="card card-size"
        alt="Executive Management Certified"
      />
      <form action="/" method="post">
        <!-- <input type="hidden" class="form-control" id="rumme2" name="choice" /> -->
        <button name="choice" value="rumme1" class="btn px-2 btn-light btn-sm" type="submit">Run App...
        </button>
        <span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        <button name="choice" value="code1" class="btn px-2 btn-light btn-sm" type="submit">Github Repository...
        </button>
      </form>
    </div>

    <div class="col-md-4">
      <h6 class="summary">Newsletter Signup</h6>
      <img
        src="./assets/images/newslettersignup.png"
        class="card card-size"
        alt="Executive Management Certified"
      />
      <form action="/" method="post">
        <!-- <input type="hidden" class="form-control" id="rumme2" name="choice" /> -->
        <button name="choice" value="rumme2" class="btn px-2 btn-light btn-sm" type="submit">Run App...
        </button>
        <span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        <button name="choice" value="code2" class="btn px-2 btn-light btn-sm" type="submit">Github Repository...
        </button>
      </form>
    </div>

    <div class="col-md-4">
      <h6 class="summary">Newsletter Signup</h6>
      <img
        src="./assets/images/newslettersignup.png"
        class="card card-size"
        alt="Executive Management Certified"
      />
      <form action="/" method="post">
        <!-- <input type="hidden" class="form-control" id="code3" name="choice" /> -->
        <button name="choice" value="rumme3" class="btn px-2 btn-light btn-sm" type="submit">Run App...
        </button>
        <span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        <button name="choice" value="code3" class="btn px-2 btn-light btn-sm" type="submit">Github Repository...
        </button>
      </form>
    </div>
    

    </div>
  </div>
</div>
