<!-- Modal gallery -->

<div class="container">

  <div class="row">

<div class="col-md-4 ">
      <prj class="card card-size mx-auto d-block ">  
        <a class="btn btn-blank btn-sm  summary " href="https://majestic-figolla-a96469.netlify.app/" role=""
          ><span >JustApp Messenger for kids<br/>IOS  and Android</span> </a>
          <p>Tech Stack: React Native, Expo. </p>
          <hr/>
        <span>A kids friendly messenger designed using React Native, Google´s Firebase database, user authentication, and Google Firebase data storage.  It handles peer-to-peer message communication between 2 or more kids 
          and in group chat mode.  It supports push notification between devices. 
          devices.
      
        </span>
        </prj>
       
      <img
        src="./assets/images/justappscreen.png"
        class="card card-size img-size mx-auto d-block"
        alt="Executive Management Certified"
      />
      
      <prj class="card card-size mx-auto d-block ">  
      <form action="/" method="post">
    
        <button name="choice" value="rumme2" class="btn px-4 btn-light btn-sm " type="submit">Run App
        </button>
       
        <button name="choice" value="code2" class="btn px-4 btn-light btn-sm " type="submit">View Source
        </button>
      </form>
    </prj>
    <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>
    <br/>
    </div>


    <div class="col-md-4 ">
      
      <prj class="card card-size mx-auto d-block ">  
        <a class="btn btn-blank btn-sm  summary " href="" role=""
          ><span  >&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160DefiATM  DApp</span> </a>
          <hr/>
        <span>
          Defi ATM is a decentralized application that runs on the Dfinity IPC blockchain.  It allows users to check their balance, make a deposit, and withdraw an amount.
          
        </span>
        </prj>
       
      <img
        src="./assets/images/defiatmscreeninfo.png"
        class="card card-size img-size mx-auto d-block"
        alt="Complete implementation of a RESTful API Server"
      />
      <prj class="card card-size mx-auto d-block ">  
        <form action="/" method="post">
      
          <button name="choice" value="rumme4" class="btn px-4 btn-light btn-sm " type="submit">More Info</button>
         
          <button name="choice" value="code4" class="btn px-4 btn-light btn-sm " type="submit">View Source</button>
        </form>
      </prj>
      <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>
    
    </div>
    <div class="col-md-4 ">
     
      <prj class="card card-size mx-auto d-block ">  
        <a class="btn btn-blank btn-sm  summary " href="https://majestic-figolla-a96469.netlify.app/" role=""
          ><span mx-auto d-block>Token Dispenser Faucet Dapp</span> </a>
          <hr/>
        <span>The Just token decentralized application is a Faucet token dispenser DApp developped with ReactJS and Motoko and deployed on the IPC blockchain.  Users can obtain free tokens, which can me used to unlock premium functionality, and unlock characters.  To obtain free tokens, users can request them through this token dispenser faucet Dapp. 
      
        </span>
        </prj>
       
      <img
        src="./assets/images/justtoken.png"
        class="card card-size img-size mx-auto d-block"
        alt="Executive Management Certified"
      />
      
      <prj class="card card-size mx-auto d-block ">  
      <form action="/" method="post">
    
        <button name="choice" value="rumme2" class="btn px-4 btn-light btn-sm " type="submit">Run App
        </button>
       
        <button name="choice" value="code2" class="btn px-4 btn-light btn-sm " type="submit">View Source
        </button>
      </form>
    </prj>
    <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>
    <br/>
    </div>

    
    

    </div>
  </div>
</div>
