<!-- Modal gallery -->

<div class="container">
  <h1 class="summary-header">PROJECT GALLERY</h1>
  <p>
    I have multiple certifications from the prestigious Management and Strategy
    Institute which prepared me to handle critical software development projects
    constrained by time, scope, and budget.
  </p>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <h6 class="summary">Newsletter Signup Web App</h6>
      <img
        src="./assets/images/newslettersignup.png"
        class="card card-size"
        alt="Executive Management Certified"
      />
      <form action="/" method="post">
        <!-- <input type="hidden" class="form-control" id="rumme2" name="choice" /> -->
        <button name="choice" value="rumme1" class="btn px-2 btn-light btn-sm" type="submit">Run App...
        </button>
        <span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        <button name="choice" value="code1" class="btn px-2 btn-light btn-sm" type="submit">Github Repository...
        </button>
      </form>
    </div>

    <div class="col-md-4">
      <h6 class="summary">Newsletter Signup</h6>
      <img
        src="./assets/images/newslettersignup.png"
        class="card card-size"
        alt="Executive Management Certified"
      />
      <form action="/" method="post">
        <!-- <input type="hidden" class="form-control" id="rumme2" name="choice" /> -->
        <button name="choice" value="rumme2" class="btn px-2 btn-light btn-sm" type="submit">Run App...
        </button>
        <span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        <button name="choice" value="code2" class="btn px-2 btn-light btn-sm" type="submit">Github Repository...
        </button>
      </form>
    </div>

    <div class="col-md-4">
      <h6 class="summary">Newsletter Signup</h6>
      <img
        src="./assets/images/newslettersignup.png"
        class="card card-size"
        alt="Executive Management Certified"
      />
      <form action="/" method="post">
        <!-- <input type="hidden" class="form-control" id="code3" name="choice" /> -->
        <button name="choice" value="rumme3" class="btn px-2 btn-light btn-sm" type="submit">Run App...
        </button>
        <span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        <button name="choice" value="code3" class="btn px-2 btn-light btn-sm" type="submit">Github Repository...
        </button>
      </form>
    </div>
    

    </div>
  </div>
</div>
