<!-- Modal gallery -->

<div class="container">
  <h2 class="display-3" ><span2>PROJECT GALLERY</span2></h2>
  <p><span>Below find a few of my fullstack web apps, together with their link to the source code in my Github repositories, to showcase my knowledge and experience.</span>

  </p>
  <hr />
  <div class="row">
    <div class="col-md-4 ">
      <prj class="card card-size mx-auto d-block ">  
        <a class="btn btn-blank btn-sm  summary " href="https://hc-newsletter-app.herokuapp.com/" role=""
        ><span>Newsletter Signup Web App</span> </a>
        <hr/>
        <span>This Newsletter Signup Web App illustrates my experience with APIs by connecting, in the Backend, the server, to the Mailchimp
          servers in order to automatically register new subscribers.  In the Frontend, I used HTML, CSS, and Bootstrap to render the user interface.
        </span>
        </prj>
       
      <img
        src="./assets/images/newslettersignup.png"
        class="card card-size img-size mx-auto d-block"
        alt="Executive Management Certified"
      />
      <prj class="card card-size mx-auto d-block ">  
      <form action="/" method="post" >
       
        <button name="choice" value="rumme1" class="btn px-4 btn-light btn-sm " type="submit">Run App
        </button>
       
        <button name="choice" value="code1" class="btn px-4 btn-light btn-sm " type="submit">View Source
        </button>
      </form>
      
    </prj>
    <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>

    <br/>
    </div>
    <div class="col-md-4 ">
     
      <prj class="card card-size mx-auto d-block ">  
        <a class="btn btn-blank btn-sm  summary " href="https://majestic-figolla-a96469.netlify.app/" role=""
          ><span style='text-align: .class{
             display: flex;
             justify-content: center;
             align-items: center;
          };'>JustApp Messenger for kids<br/>IOS - Android - Web</span> </a>
          <hr/>
        <span>A kids friendly messenger designed using React Native, Expo, and Google´s Firebase database, user 
          authentication, and data storage.  It handles peer-to-peer message communication between 2 or more kids 
          as a group chat.  It supports push notification between devices, and it can be deployed on IOS and Android 
          devices such as Iphones and Pixel.
      
        </span>
        </prj>
       
      <img
        src="./assets/images/justappscreen.png"
        class="card card-size img-size mx-auto d-block"
        alt="Executive Management Certified"
      />
      
      <prj class="card card-size mx-auto d-block ">  
      <form action="/" method="post">
    
        <button name="choice" value="rumme2" class="btn px-4 btn-light btn-sm " type="submit">Run App
        </button>
       
        <button name="choice" value="code2" class="btn px-4 btn-light btn-sm " type="submit">View Source
        </button>
      </form>
    </prj>
    <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>
    <br/>
    </div>

    <div class="col-md-4 ">
      
      <prj class="card card-size mx-auto d-block ">  
        <a class="btn btn-blank btn-sm  summary " href="https://hc-newsletter-app.herokuapp.com/" role=""
          ><span>Newsletter Signup</span> </a>
          <hr/>
        <span>
          sfsdfdsssffsdsdsfsfdsfdsfdsfdsfdsfdsd fdsfsfdsf fdsfdsfsd ssfsdfsdfdsfds
     
        </span>
        </prj>
       
      <img
        src="./assets/images/newslettersignup.png"
        class="card card-size img-size mx-auto d-block"
        alt="Executive Management Certified"
      />
      <prj class="card card-size mx-auto d-block ">  
        <form action="/" method="post">
      
          <button name="choice" value="rumme3" class="btn px-4 btn-light btn-sm " type="submit">Run App
          </button>
         
          <button name="choice" value="code3" class="btn px-4 btn-light btn-sm " type="submit">View Source
          </button>
        </form>
      </prj>
      <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>
    
    </div>
    

    </div>
  </div>
</div>
