<!-- Modal gallery -->

<div class="container">
  <h2 class="display-3" ><span2>PROJECT GALLERY</span2></h2>
  <p><span>Below find a few of my fullstack web apps, together with their link to the source code in my Github repositories, to showcase my knowledge and experience.</span>

  </p>
  <hr />
  <div class="row">
    <div class="col-md-4 ">
     
       
     
      <prj class="card card-size mx-auto d-block ">  
        <a class="btn btn-blank btn-sm  summary " href="https://hc-newsletter-app.herokuapp.com/" role=""
        ><span>Newsletter - A Signup Web App</span> </a>
        <hr/>
        <span>This Newsletter Signup Web App illustrates my experience with APIs by connecting, in the Backend, the server, to the Mailchimp
          servers in order to automatically register new subscribers.  In the Frontend, I used HTML, CSS, and Bootstrap to render the user interface.
        </span>
        </prj>
       
      <img
        src="./assets/images/newslettersignup.png"
        class="card card-size img-size mx-auto d-block"
        alt="Executive Management Certified"
      />
      <prj class="card card-size mx-auto d-block ">  
      <form action="/" method="post" >
        <!-- <input type="hidden" class="form-control" id="rumme2" name="choice" /> -->
        <button name="choice" value="rumme1" class="btn px-4 btn-light btn-sm " type="submit">Run App
        </button>
       
        <button name="choice" value="code1" class="btn px-4 btn-light btn-sm " type="submit">View Source
        </button>
      </form>
    </prj>
    </div>

    <div class="col-md-4 cardbox">
     
      <prj class="card card-size mx-auto d-block ">  
        <a class="btn btn-blank btn-sm  summary " href="https://majestic-figolla-a96469.netlify.app/" role=""
          ><span>JustApp (Web - IOS - Android)</span> </a>
          <hr/>
        <span>
          sfsdfdsssffsdsdsfsfdsfdsfdsfdsfdsfdsd fdsfsfdsf fdsfdsfsd ssfsdfsdfdsfds
      
        </span>
        </prj>
      
      <img
        src="./assets/images/newslettersignup.png"
        class="card card-size img-size mx-auto d-block"
        alt="Executive Management Certified"
      />
      <prj class="card card-size mx-auto d-block ">  
      <form action="/" method="post">
    
        <button name="choice" value="rumme2" class="btn px-2 btn-light btn-sm" type="submit">Run App
        </button>
       <button name="choice" value="code2" class="btn px-2 btn-light btn-sm " type="submit">View Source
        </button>
      </form>
    </prj>
    </div>

    <div class="col-md-4 cardbox">
      <!-- <h6 class="summary">Newsletter Signup</h6> -->
      <p class='center'>
        
      </p>
      <prj class="card card-size mx-auto d-block ">  
        <a class="btn btn-blank btn-sm  summary " href="https://hc-newsletter-app.herokuapp.com/" role=""
          ><span>Newsletter Signup</span> </a>
          <hr/>
        <span>
          sfsdfdsssffsdsdsfsfdsfdsfdsfdsfdsfdsd fdsfsfdsf fdsfdsfsd ssfsdfsdfdsfds
     
        </span>
        </prj>
       
      <img
        src="./assets/images/newslettersignup.png"
        class="card card-size img-size mx-auto d-block"
        alt="Executive Management Certified"
      />
      <prj class="card card-size mx-auto d-block ">  
        <form action="/" method="post">
      
          <button name="choice" value="rumme3" class="btn px-2 btn-light btn-sm" type="submit">Run App
          </button>
         <button name="choice" value="code3" class="btn px-2 btn-light btn-sm " type="submit">View Source
          </button>
        </form>
      </prj>

    </div>
    

    </div>
  </div>
</div>
