<!-- Modal gallery -->

<div class="container">
  <h2 class="display-3" ><span2>FULLSTACK AND BLOCKCHAIN PROJECTS</span2></h2>
  <p><span>Below find a few blockchain DApps and fullstack web apps I developed together with the link to their source code in my Github repositories.</span>

  </p>
  <hr />
  <div class="row">
    <div class="col-md-4 ">
      
      <prj class="card card-size mx-auto d-block ">  
        <a class="btn btn-blank btn-sm  summary " href="https://hc-newsletter-app.herokuapp.com/" role=""
          ><span  >&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160Defi  ATM  DApp</span> </a>
          <hr/>
        <span>
          Defi ATM is a Web3 DApp that runs on the Dfinity IPC blockchain.  It allows users to check their balance, make a deposit, and withdraw an amount. The canister can be
          dynamically accessed usign dfx CLI.
          
        </span>
        </prj>
       
      <img
        src="./assets/images/defiatmscreeninfo.png"
        class="card card-size img-size mx-auto d-block"
        alt="Complete implementation of a RESTful API Server"
      />
      <prj class="card card-size mx-auto d-block ">  
        <form action="/" method="post">
      
          <button name="choice" value="rumme4" class="btn px-4 btn-light btn-sm " type="submit">More Info</button>
         
          <button name="choice" value="code4" class="btn px-4 btn-light btn-sm " type="submit">View Source</button>
        </form>
      </prj>
      <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>
    
    </div>
    <div class="col-md-4 ">
     
      <prj class="card card-size mx-auto d-block ">  
        <a class="btn btn-blank btn-sm  summary " href="https://majestic-figolla-a96469.netlify.app/" role=""
          ><span mx-auto d-block>JustDApp Token Dispenser Faucet</span> </a>
          <hr/>
        <span>The Just token web3 application is a Faucet token dispenser DApp developped with ReactJS and Motoko and deployed on the IPC blockchain.  Users can request free tokens to be used to unlock additional functionality, activate locked characters and roles in the the JustApp messenger.  Users can request free tokens through the built-in faucet mechanism within the Dapp. 
      
        </span>
        </prj>
       
      <img
        src="./assets/images/justtoken.png"
        class="card card-size img-size mx-auto d-block"
        alt="Executive Management Certified"
      />
      
      <prj class="card card-size mx-auto d-block ">  
      <form action="/" method="post">
    
        <button name="choice" value="rumme2" class="btn px-4 btn-light btn-sm " type="submit">Run App
        </button>
       
        <button name="choice" value="code2" class="btn px-4 btn-light btn-sm " type="submit">View Source
        </button>
      </form>
    </prj>
    <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>
    <br/>
    </div>

    <div class="col-md-4 ">
     
      <prj class="card card-size mx-auto d-block ">  
        <a class="btn btn-blank btn-sm  summary " href="https://majestic-figolla-a96469.netlify.app/" role=""
          ><span >JustApp Messenger for kids<br/>for IOS  and Android</span> </a>
          <hr/>
        <span>A kids friendly messenger designed using React Native, Google´s Firebase database, user 
          authentication, and Google Firebase data storage.  <br/> <br/>Users can unlock additional functionality using Just Tokens which are dispensed through the JustDApp Token Dispenser 
          deployed on the IPC blockchain.   <br/> <br/>It handles peer-to-peer message communication between 2 or more kids 
          and in group chat mode.  It supports push notification between devices, and it can be deployed on IOS and Android 
          devices.
      
        </span>
        </prj>
       
      <img
        src="./assets/images/justappscreen.png"
        class="card card-size img-size mx-auto d-block"
        alt="Executive Management Certified"
      />
      
      <prj class="card card-size mx-auto d-block ">  
      <form action="/" method="post">
    
        <button name="choice" value="rumme2" class="btn px-4 btn-light btn-sm " type="submit">Run App
        </button>
       
        <button name="choice" value="code2" class="btn px-4 btn-light btn-sm " type="submit">View Source
        </button>
      </form>
    </prj>
    <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>
    <br/>
    </div>
    

    </div>
  </div>
</div>
