<!-- Modal gallery -->

<div class="container">
  <!-- <h2 class="display-3" ><span2>FULLSTACK PROJECTS</span2></h2> -->
  <p><span>Below find a fullstack web2 app with its backend API to the Mailchimp server to manage my newsletter mailing list. It also features a complete RESTFull API. The links to their source code in my Github repositories is also provided.</span>

  </p>
  <hr />
  <div class="row">
    <div class="col-md-4 ">
      <prj class="card card-size mx-auto d-block ">  
        <a class="btn btn-blank btn-sm  summary " href="https://hc-newsletter-app.herokuapp.com/" role=""
        ><span>Newsletter Signup Web App API</span> </a>
        <hr/>
        <span>This "Newsletter Signup Web App" illustrates my experience with APIs by connecting, the backend server to the Mailchimp
          servers, in order to automatically register new subscribers.  In the frontend, I used HTML, CSS, and Bootstrap to render the user interface.
        </span>
        </prj>
       
      <img
        src="./assets/images/newslettersignup.png"
        class="card card-size img-size mx-auto d-block"
        alt="Executive Management Certified"
      />
      <prj class="card card-size mx-auto d-block ">  
      <form action="/" method="post" >
       
        <button name="choice" value="rumme1" class="btn px-4 btn-light btn-sm " type="submit">Run App
        </button>
       
        <button name="choice" value="code1" class="btn px-4 btn-light btn-sm " type="submit">View Source
        </button>
      </form>
      
    </prj>
    <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>

    <br/>
    </div>
    <div class="col-md-4 ">
     
      
       
      
      
     
    
    <br/>
    </div>

    <div class="col-md-4 ">
      
      <prj class="card card-size mx-auto d-block ">  
        <a class="btn btn-blank btn-sm  summary " href="https://hc-newsletter-app.herokuapp.com/" role=""
          ><span>RESTful API web-services Server</span> </a>
          <hr/>
        <span>
          I designed a complete "Representational State Transfer (REST)" Web Services SERVER according to the 
          REST architecture guidelines to allow anyone to implement the complete CRUD set of data-actions in 
          order to manipulate my personal wikipedia articles stored in my private cloud cluster database at AWS.  This implementation does not have a front end UI.  It can only be accessed via API as it is a 100% serverside web-services system deployed in AWS.
          
        </span>
        </prj>
       
      <img
        src="./assets/images/studio.png"
        class="card card-size img-size mx-auto d-block"
        alt="Complete implementation of a RESTful API Server"
      />
      <prj class="card card-size mx-auto d-block ">  
        <form action="/" method="post">
      
          <button name="choice" value="rumme3" class="btn px-4 btn-light btn-sm " type="submit">API Info</button>
         
          <button name="choice" value="code3" class="btn px-4 btn-light btn-sm " type="submit">View Source</button>
        </form>
      </prj>
      <h1 style='text-align: Center; color: #c3266f;'>_____________</h1>
    
    </div>
    

    </div>
  </div>
</div>
