<%- include('./partials/head'); %>

<div class="container">
  <p>
    The digital ATM DApp running on the Dfinity IPC blockchain, allows the user
    to check the balance, make a deposit, and withdraw an amount. The canister
    can be dynamically accessed usign dfx CLI.
  </p>
  <br />

  <img
    src="./assets/images/defiatmfrontscreen.png"
    class="card image-size center"
    alt="HC RESTful API Server"
  />

  <p>
    This is a digital ATM DApp running on the Dfinity IPC blockchain. This is
    the actual screen of the front end user interface which is connected in the
    backend to the IPC blockchain via the agent.js.
  </p>
</div>
