<%- include('./partials/head'); %>

<div class="summary-container">
  <br />

  <img
    src="./assets/images/execmanagement.png"
    class="card img-size center"
    alt="Executive Management Certified"
  />
  <br />
  <p class="summary">
    Management Certification Program Executive managers make up the largest
    managerial layer in an organization. Business managers are responsible to
    the people they manage and the company stakeholders.
  </p>
  <br />
  <p class="summary">
    It is essential that managers be committed to the organization’s goals and
    understand how to execute them effectively. Managers ensure that business
    operations run smoothly. Managers implement the strategies of their
    superiors and are responsible for motivating their people and getting
    results. The MSI Management certification program is designed to help you be
    an effective manager.
  </p>
  <br />
  <p class="summary">
    It is essential to understand exactly what management is, management’s role
    in their department, and why management skills are so important. Management
    training programs like MSI’s Executive Management Certified (EMC) program
    give you the skills and knowledge to effectively manage departments and the
    employees under your leadership.
  </p>
  <br />
  <p class="summary">
    Managing Information: Managing information is important to the success of
    any business. Decision-Making: Decisions will guide the business, so it is
    important that the decision-making process be as accurate as possible.
    Control: Executive managers are responsible for controlling operations.
    Organizational Strategy: Organizational strategy is an important aspect of
    business success. It uses the missions and goals of the organization to
    develop plans.
  </p>
</div>
