<%- include('./partials/head'); %>

<div class="summary-container">
  <br />

  <img
    src="./assets/images/projmanagement.png"
    class="card img-size center"
    alt="Project Management - Lean - Agile Certified"
  />
  <br />
  <p class="summary">
    Project Management – Lean - Agile Process Certified (PM-LPC)™ The Lean
    Project Management Certification by the Management and Strategy Institute
    combines project management skills with the waste reduction principles of
    Lean.
  </p>
  <br />
  <p class="summary">
    This innovative certification is designed for professionals who are looking
    to work as a lean project manager. Lean project management incorporates the
    waste-reduction principles commonly used in Six Sigma. Its main objective is
    to ensure maximum project value by eliminating process waste. Within the
    scope of a project lean helps you measure the current state, define the
    future state, then set standards and processes in place that help you
    achieve the future state. Agile management, or simply “Agile” refers to a
    method of managing the design and build activities of information technology
    and other business services.
  </p>
  <br />
  <p class="summary">
    The aim is to provide new product or service development in a highly
    flexible and interactive manner. You’ll learn about short development cycles
    called “sprints”, which focus on continuous improvement in the development
    of a product or service. You’ll also learn about Scrum, a simple framework
    for effective team collaboration on complex products. Beyond Agile & Scrum,
    this program also covers MSI’s Project Management program. This means you’ll
    gain knowledge in Agile, Scrum, and standard Project Management best
    practices.
  </p>
  <br />
  <p class="summary">
    This process works well for project managers because it compliments the
    processes they already use. The Project Management – Lean Process Certified
    (PM-LPC) certification is issued exclusively by the Management and Strategy
    Institute. The certification exam is designed to test your understanding of
    project management and lean business principles. Many executive jobs today
    require that their employees have at least a basic understanding of project
    management and lean. For an example, click on this job search link to see
    how many positions mention the words “lean project management”. The Lean
    Project Management Certification from the Management and Strategy Institute
    does not require project experience for certification. Your certification is
    based on your ability to understand Lean Project Management concepts and
    pass the comprehensive certification exam. The price of $199.95 includes the
    online certification exam and the study material needed to prepare.
  </p>
</div>
