<%- include('./partials/head'); %>

<div class="container">
  <br />

  <img
    src="./assets/images/studio.png"
    class="card image-size center"
    alt="HC RESTful API Server"
  />

  <p>
    To allow anyone to interact with my personal wikipedia, I have created a
    RESTful API services Server. The software is a server-app only and it does
    not have a frontend web interface. THis means that the only way to interact
    with the app is throuh its RESTful API. All the data is stored in a cloud
    MongoDB database in a cluster deployed at AWS.
  </p>

  <img
    src="./assets/images/cluster.png"
    class="card image-size center"
    alt="HC RESTful API Server"
  />

  <p>
    I designed a complete Representational State Transfer (REST) Web services
    SERVER according to the REST architecture guidelines. This means that anyone
    can implement the complete CRUD set of data-actions in order to manipulate
    the wikipedia articles.
  </p>
  </p>

  <img
    src="./assets/images/postman.png"
    class="card image-size center"
    alt="HC RESTful API Server"
  />

  <p>
   You can use Postman to perform API calls if you want to test the API.

  </p>
</div>
