<%- include('./partials/head'); %>

<div class="summary-container">
  <br />

  <img
    src="./assets/images/sixsigma.png"
    class="card img-size center"
    alt="Project Management - Lean - Agile Certified"
  />
  <br />
  <p class="summary">
    This is the single individual or group with responsibility for the
    end-to-end process. Next they define the scope, boundaries, or limitations
    for the process. The final step is to develop a high level process map which
    shows the start and end points of the process.
  </p>
  <br />
  <p class="summary">
    You’ll learn about SIPOC diagrams and Critical-to-Quality (CTQ) elements
    like Cost, process, safety, and delivery. You’ll also gain an understanding
    of the Cost of Poor Quality (COPQ) and how it is measured in different
    industries. Green Belts must have a strong understanding of who your
    customers are and what is important to them. Understanding customer feedback
    through the Voice of the Customer (VOC) and determining the requirements for
    your product.
  </p>
  <br />
  <p class="summary">
    Prioritizing issues related to your product, you’ll work to determine
    internal processes and what causes variation. Our Six Sigma Green Belt
    certification exam will test your fundamental understanding of these
    concepts. The exam is completed online and can be done from home or work.
    The study material is completely self-paced, so you can take the exam as
    soon as you feel you’re ready. MSI also offers a Lean Six Sigma Green Belt
    for those looking to have Lean incorporated into their certification.
  </p>
  <br />
  <p class="summary">
    If you’re looking for a leadership role within Six Sigma, we suggest taking
    our Six Sigma Black Belt Certification Online. MSI now includes the
    exclusive YBsim™ and GBsim™ simulations with this Green Belt certification.
    These Six Sigma simulators walk you through several aspects of a Six Sigma
    project to help you gain valuable, first-hand experience. In the YBsim™
    simulation, you’ll gain an understanding of Six Sigma team roles as the
    project charter is developed. Once that is completed, you’ll move on to the
    GBsim™. There, you’ll look at the DMAIC process in more depth by discussing
    the project objectives, data gathering, and Critical to Quality (CTx)
    elements.
  </p>
</div>

<
